.container .my-image {
    width: 320px;
}

@media (min-width: 480px) {
    .container .my-image {
        width: 480px;
    }
}

@media (min-width: 640px) {
    .container .my-image {
        width: 640px;
    }
}

@media (min-width: 800px) {
    .container .my-image {
        width: 800px;
    }
}

@media (min-width: 960px) {
    .container .my-image {
        width: 960px;
    }
}

@media (min-width: 1120px) {
    .container .my-image {
        width: 1120px;
    }
}
