.container .my-image {
    max-width: 320px;
    width: 100%;
}

@media (min-width: 480px) {
    .container .my-image {
        max-width: 480px;
    }
}

@media (min-width: 640px) {
    .container .my-image {
        max-width: 640px;
    }
}

@media (min-width: 800px) {
    .container .my-image {
        max-width: 800px;
    }
}

@media (min-width: 960px) {
    .container .my-image {
        max-width: 960px;
    }
}

@media (min-width: 1120px) {
    .container .my-image {
        max-width: 1120px;
    }
}
