.container {
    width: 100%;
}
.container.images {
    padding: 0;
}
.row {
    margin: 0 -10px;
}
.column {
    float: left;
    width: 50%;
    padding: 0 10px;
    margin: 0;
}
.column h3 {
    margin: 0 0 10px 0;
}
.column .note {
    margin: 0
}
.column figure {
    margin: 0;
}
.column figure img {
    margin-top: 0;
}

/* Modern browsers */
head {font-family:"XS";}
/* Opera */
body:after {content:"XS"; display:none;}

/* stretch image to fit box */
.container .my-image {
    /* stretch image to fit box */
    width: 100%;
    /* use this to calculate width */
    max-width: 320px;
}

@media (max-width: 700px) {
    head {font-family:"S";}
	body:after{content:"S";}
	
    .container .my-image {
        max-width: 320px;
    }
}

@media (min-width: 700px) {
    head {font-family:"M";}
	body:after {content:"M";}
	
    .container .my-image {
        max-width: 480px;
    }
}

@media (min-width: 1020px) {
    head {font-family:"L";}
	body:after {content:"L";}
	
    .container .my-image {
        max-width: 640px;
    }
}

@media (min-width: 1340px) {
    head {font-family:"XL";}
	body:after {content:"XL";}
	
    .container .my-image {
        max-width: 800px;
    }
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}